/* SlideInFromLeft.css */
.transform {
  transform: translateX(0);
}

.transition-transform {
  transition-property: transform, opacity;
}

.duration-500 {
  transition-duration: 0.5s;
}

.ease-out {
  transition-timing-function: ease-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.opacity-100 {
  opacity: 1;
}

.translate-x-[-100%] {
  transform: translateX(-100%);
}

.opacity-0 {
  opacity: 0;
}
